body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100vw;
}

.button {
  position: relative;
  z-index: 1;
}

.controls,
.menuToggle {
  transition: transform 0.2s ease;
}

.controls {
  background-color: #111;
  color: white;
  font-weight: bold;
  height: 100%;
  left: -20%;
  text-transform: uppercase;
  width: 20%;
  position: absolute;
}

.clearButton {
  border: 0;
  border-top: 1px solid white;
  appearance: none;
  background-color: transparent;
  bottom: 0;
  color: white;
  font-size: 1rem;
  letter-spacing: 0.15em;
  position: absolute;
  text-transform: uppercase;
  width: 100%;
  z-index: 1;
}

.code {
  background-color: #111;
  bottom: 0;
  color: gold;
  padding: 1em;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  width: 100%;
}

.colorPicker {
  max-width: 300px;
  position: absolute;
  z-index: 1;
}

.degreeDial {
  appearance: none;
  background: white;
  border: 1px solid #111;
  border-radius: 50%;
  height: 4em;
  position: relative;
  width: 4em;
  &::before {
    content: '';
    display: block;
    position: absolute;
  }
  &::before {
    background-color: #111;
    border-radius: 50%;
    height: 0.5rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0.5rem;
  }
}

.dialHand {
  background-color: #111;
  height: 50%;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 1px;
}

.menuToggle {
  left: 100%;
  top: 0;
  position: absolute;
  z-index: 1;
}

.stop {
  background-color: black;
  cursor: col-resize;
  height: 1000vh;
  position: absolute;
  transform-origin: top;
  width: 5px;
}

.stopList {
  margin: 0;
  padding: 0;
}

.stopCounter {
  display: block;
  right: 10px;
  position: absolute;
}
