@value letter-spacing 0.15em;

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  counter-reset: stopItem;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100vw;
}

.button {
  position: relative;
  z-index: 1;
}

.menuToggleOpen {
  transform: translateX(300px);
}

.controls,
.menuToggle {
  transition: transform 0.2s ease;
}

.controls {
  background-color: #111;
  color: white;
  height: 100%;
  left: calc(-300/16em);
  padding: 1em;
  text-transform: uppercase;
  overflow: scroll;
  position: absolute;
  width: calc(300/16em);
  z-index: 3;
  > form, > ol, > button {
    margin: 0 0 2rem;
  }
  label {
    letter-spacing: letter-spacing;
    font-size: 0.8em;
  }
  input[type="number"] {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-family: monospace;
    padding: 0.5em;
    min-width: calc(80/16rem);
  }
  input[type="color"] {
    background-color: transparent;
    border: 1px solid white;
    min-width: calc(80/16rem);
  }
}

.clearButton,
.toggleStopsButton {
  color: white;
  flex: 0 1 auto;
}

.actionText {
  font-size: 0.75em;
  letter-spacing: letter-spacing;
  text-transform: uppercase;
}

.clearButton,
.toggleStopsButton,
.menuToggle {
  composes: actionText;
  border: 0;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
  white-space: nowrap;
  z-index: 1;
}

.code {
  border: 0;
  font: 400 1rem/1 monospace;
  position: relative;
  text-align: center;
  width: 100%;
}

.code,
.codeContainer {
  background-color: #111;
  color: gold;
}

.copiedMessage {
  composes: actionText;
  left: 50%;
  margin: 0;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease;
}

.codeContainer {
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  position: absolute;;
  width: 100%;
  z-index: 1;
}

.degreeForm {
  > * {
    display: block;
    text-align: center;
    width: 100%;
  }
  h2 {
    margin-top: 0;
  }
  input {
    font-size: 1.5em;
  }
}

.roundingForm {
  align-items: center;
  display: flex;
  input {
    height: 2em;
    width: 2em;
    flex: 0 0 auto;
    padding: 0;
    border: 0;
    margin: 0;
  }
}

.hidden {
  opacity: 0;
}

.githubLink {
  composes: actionText;
  color: white;
  display: block;
  text-align: center;
  text-decoration: none;
}

.menuToggle {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 1;
}

.stop {
  background-color: black;
  cursor: col-resize;
  height: 100vh;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.3s ease;
  width: 5px;
}

.stopList {
  color: white;
  margin: 0;
  padding: 0;
}

.menuHeading {
  font: 400 1.1rem/1 sans-serif;
  letter-spacing: letter-spacing;
  padding-bottom: 0.25rem;
  text-align: center;
}

.newStopButton {
  composes: menuHeading;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 1em;
  text-transform: uppercase;
  width: 100%;
  span {
    align-items: center;
    display: flex;
    justify-content: center;
    &::after {
      content: '+';
      display: block;
      margin-left: 0.25em;
    }
  }
}

.removeStopButton {
  background-color: transparent;
  border: 0;
  color: #FF4136;
  cursor: pointer;
  font-size: 0.6em;
  margin: 1em 0 0 auto;
  padding: 0;
  text-transform: uppercase;
}

.stopItem {
  display: flex;
  margin-bottom: 1em;
  &::before {
    align-self: center;
    content: counter(stopItem);
    counter-increment: stopItem;
    padding-right: 1em;
  }
}

.stopCounter {
  align-items: center;
  font: 400 1.5em/1 monospace;
  display: flex;
  right: 10px;
  position: absolute;
}

.stopArrow {
  font: 400 0.5em/1 sans-serif;
}

.stopMenuItem {
  border-left: 1px solid white;
  display: flex;
  flex-wrap: wrap;
  padding-left: 1em;
  > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
    width: 100%;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
