html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100vw;
}

.button {
  position: relative;
  z-index: 1;
}

.controls,
.menuToggle {
  transition: transform 0.2s ease;
}

.controls {
  background-color: #111;
  color: white;
  font-weight: bold;
  height: 100%;
  left: -20%;
  text-transform: uppercase;
  width: 20%;
  position: absolute;
}

.clearButton,
.toggleStopsButton {
  color: white;
  flex: 0 1 auto;
}

.clearButton,
.toggleStopsButton,
.menuToggle {
  border: 0;
  appearance: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 0.75em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 1;
}

.code {
  border: 0;
  font: 400 1rem/1 monospace;
  position: relative;
  text-align: center;
  width: 100%;
}

.code,
.codeContainer {
  background-color: #111;
  color: gold;
}

.copiedMessage {
  left: 50%;
  margin: 0;
  text-align: center;
  transform: translateX(-50%);
  transition: opacity 0.3s ease;
}

.copiedMessage {
  opacity: 0;
  position: absolute;
  transform: translate(-50%, -100%);
}

.codeContainer {
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  position: absolute;;
  width: 100%;
  z-index: 1;
}

.colorInput {
  background: none;
  border: 0;
  border-radius: 50%;
}

.degreeDial {
  appearance: none;
  background: white;
  border: 1px solid #111;
  border-radius: 50%;
  height: 4em;
  position: relative;
  width: 4em;
  &::before {
    content: '';
    display: block;
    position: absolute;
  }
  &::before {
    background-color: #111;
    border-radius: 50%;
    height: 0.5rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0.5rem;
  }
}

.dialHand {
  background-color: #111;
  height: 50%;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  width: 1px;
}

.menuToggle {
  left: 100%;
  top: 0;
  position: absolute;
  z-index: 1;
}

.stop {
  background-color: black;
  cursor: col-resize;
  height: 100vh;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.3s ease;
  width: 5px;
}

.stopList {
  color: white;
  /*margin: 0;
  padding: 0;*/
}

.stopItem {
  display: flex;
}

.stopCounter {
  align-items: center;
  font: 400 1.5em/1 monospace;
  display: flex;
  right: 10px;
  position: absolute;
}

.stopArrow {
  font: 400 0.5em/1 sans-serif;
}
